
.work {
    width: 100%;
    padding: 10px;
    margin: auto;
}

#jmbImg {
    height: 600px;
    margin-bottom: 0px;
    background-image: url(images/clement-h-544786-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 26;
}

#aboutMe {
    width: 100%;
    image-orientation: center;
}

#post{
    width: 600px;
}

.jumbotron {
    height: 200px;
}

#contact {
    height: 600px;
    margin-bottom: 0px;
    background-image: url(./images/bundo-kim-737988-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 26;
}

#port {
    height: 600px;
    margin-bottom: 0px;
    background-image: url(./images/sai-kiran-anagani-61187-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 26;
}