* {
    box-sizing: border-box;
}

.wrapper {
    background-color: grey;
    padding-left: 10%;
    padding-right: 15%;
    padding-bottom: 20%; 
    padding-top: 30px;
    margin: 50px;
}

header { 
    padding: 30px;
    color: grey;
    background-color: white;
    text-align: center;
    margin-left: 40px;
}

#nav {
    padding: 30px;
    color: grey;
    background-color: white;
    text-align: center;
    margin-left: 40px;
}

#section {
    background-color: white;
    color: grey; 
    height: 250px;
    width: 50%;
    border: 5px solid white;
    margin-left: 40px;
    text-align: center;
    padding: 30px;
    float: left;
}

#article {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: grey;
    color: white;
    text-align: center;
    border: 1px solid white;
    margin-bottom: 0px;
    fill: 80%;
}

#hs {
    background-color: white;
    color: grey;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid grey;
    height: 35%;
    margin-bottom: 1%;
    margin-top: 20px;
}

#p {
    background-color: white;
    color: grey;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: 2px solid grey;
    padding: 10px;
    clear: both;
    height: 35%;

}

#aside {
    padding: 30px;
    background-color: white;
    color: grey;
    margin-left: 10px;
    height: 250px;
    width: 44%;
    border: 1px solid grey;
    float: right;
    text-align: center;
    float: left
}

#footer {
    clear: both;
    padding: 30px;
    color: grey;
    background-color: white;
    text-align: center;
    margin-left: 40px;
    border-top: 10px solid grey;
}